@font-face {
    font-family: 'Muli';
    font-style: normal;
    font-weight: 200; /* ExtraLight */
    src: local('Muli ExtraLight'), url('Muli-ExtraLight.woff') format('woff');
}

@font-face {
    font-family: 'Muli';
    font-style: italic;
    font-weight: 200; /* ExtraLight Italic */
    src: local('Muli ExtraLight Italic'), url('Muli-ExtraLightItalic.woff') format('woff');
}

@font-face {
    font-family: 'Muli';
    font-style: normal;
    font-weight: 300; /* Light */
    src: local('Muli Light'), url('Muli-Light.woff') format('woff');
}

@font-face {
    font-family: 'Muli';
    font-style: italic;
    font-weight: 300; /* Light Italic */
    src: local('Muli Light Italic'), url('Muli-LightItalic.woff') format('woff');
}

@font-face {
    font-family: 'Muli';
    font-style: normal;
    font-weight: 400; /* Regular */
    src: local('Muli Regular'), url('Muli-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Muli';
    font-style: italic;
    font-weight: 400; /* Italic */
    src: local('Muli Italic'), url('Muli-Italic.woff') format('woff');
}

@font-face {
    font-family: 'Muli';
    font-style: normal;
    font-weight: 600; /* SemiBold */
    src: local('Muli SemiBold'), url('Muli-SemiBold.woff') format('woff');
}

@font-face {
    font-family: 'Muli';
    font-style: italic;
    font-weight: 600; /* SemiBold Italic */
    src: local('Muli SemiBold Italic'), url('Muli-SemiBoldItalic.woff') format('woff');
}

@font-face {
    font-family: 'Muli';
    font-style: normal;
    font-weight: 700; /* Bold */
    src: local('Muli Bold'), url('Muli-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Muli';
    font-style: italic;
    font-weight: 700; /* Bold Italic */
    src: local('Muli Bold Italic'), url('Muli-BoldItalic.woff') format('woff');
}

@font-face {
    font-family: 'Muli';
    font-style: normal;
    font-weight: 800; /* ExtraBold */
    src: local('Muli ExtraBold'), url('Muli-ExtraBold.woff') format('woff');
}

@font-face {
    font-family: 'Muli';
    font-style: italic;
    font-weight: 800; /* ExtraBold Italic */
    src: local('Muli ExtraBold Italic'), url('Muli-ExtraBoldItalic.woff') format('woff');
}

@font-face {
    font-family: 'Muli';
    font-style: normal;
    font-weight: 900; /* Black */
    src: local('Muli Black'), url('Muli-Black.woff') format('woff');
}

@font-face {
    font-family: 'Muli';
    font-style: italic;
    font-weight: 900; /* Black Italic */
    src: local('Muli Black Italic'), url('Muli-BlackItalic.woff') format('woff');
}